@font-face {
    font-family: 'Light';
    src: local("Roboto-Light"),
        url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Regular';
    src: local("Roboto-Regular"),
        url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Medium', sans-serif;
    src: local("Roboto-Medium"),
        url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Bold', sans-serif;
    src: local("Roboto-Bold"),
        url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
