.wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    will-change: auto;
    @include transition(padding .15s);
}

.input-test-size {
    width: 172px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.sbmt-btn {
    width: 174px;
    margin-bottom: 10px;
}
.custom-topHeader-tab{
    .custom-headerTab{
        background-color: #004073;
        padding-top: 0.1rem;
        padding-left: 0.1rem !important;
        border-bottom: 0;
        .nav-link{
            padding: .45rem 1.7rem;
            height: 100%;
            color: #fff;
            text-transform: uppercase;
            border: 0;
            font-size: .75rem;
            border-top-left-radius: .2rem;
            border-top-right-radius: .2rem;
            &.headerActionTabs{
                background-color: #4d77cd;
                border-radius: 0;
            }
            &.active, &:hover{
                background-color: #e6e6e6;
                color: #222222;
            }
        }
    }
    .tab-content{
        background-color: #e6e6e6;
        height: 85px;
        .custom-inTab-btn{
            color: #222222;
            padding: 0;
            margin: 1rem .3rem;
            // width: 4rem;
            font-size: .9rem;
            line-height: 1.3;
            &:hover, &:active{
                background-color: transparent;
                border-color: transparent;
                color: #222222;
            }
            img{
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

.dropdown-menu{
    border: 0;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 6px -2px rgba(153,153,153,1);
    box-shadow: 0px 0px 6px -2px rgba(153,153,153,1);
    padding: 0;
    .dropdown-item {
        font-size: 14px;
        padding: .5rem .7rem;
    }
}

.input-test-size-top {
    padding-top: 10px;
}

.bg-info {
    min-height: 131px !important;
    padding-bottom: 23px;
}

.bg-light {
    margin-left: 0px;
}

.mt-3v {
    margin-top: 1rem !important;
    min-height: 113px !important;
}

.fw-header-title {
    font-weight: 600 !important;
}

.bg-warning {
    min-height: 131px !important;
    padding-bottom: 29px;
}

.input-test-size-last {
    width: 172px;
    margin-left: 10px;
    margin-bottom: 25px;
}

.sw-box {
    padding-bottom: 5px;
}

.bg-Secondary {
    background-color: #e1e4e9 !important;
    --cui-bg-opacity: 1;
}

.card-header {
    background-color: #e1e4e9;
    color: #000015;
    // margin-top: -18px !important;
    height: 33px;
    font-size: 13px;
}

.px-3 {
    padding-right: 0 px !important;
    padding-left: 0 px !important;
}

// .container-lg,
// .container-md,
// .container-sm,
// .container {
//     max-width: 1074px;
//     margin-left: 230px;
//     margin-top: -35px;
// }

// @media (min-width: 768px) {
//     html:not([dir=rtl]) .sidebar.sidebar-fixed:not(.sidebar-end) {
//         left: 0;
//         top: 0;
//     }
// }

// html:not([dir=rtl]) .sidebar:not(.sidebar-end) {
//     margin-left: 0;
//     margin-top: 82px;
// }

.sidebar-nav {
    background-color: #fff;
}

.header-divider {
    margin: 0 !important;
}

.sidebar {
    background-color: #fff;
    z-index: 0 !important;
    border-top: 34px solid #004073;
}

.header {
    margin-left: -20px;
}

.card {
    width: 1091px !important;
}

body {
    overflow: hidden;
    /* Hide scrollbars */
}


/* Body Styles */

body {
    margin: 0px;
    padding: 0px;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Regular';
    background-color: #fff;
}

.author {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-family: 'Regular';
    font-size: 14px;
    color: #999;
}

.author a {
    color: #777;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.author a:hover {
    color: blue;
}

header.dark blockquote {
    color: #fff;
}

header.light blockquote {
    color: #000;
}

blockquote {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    border-left: 0px;
    padding: 20px;
}

header.dark {
    width: 1366px !important;
    background-color: #0c3f72;
    height: 39px;
}

blockquote h2 {
    padding-right: 40px;
    margin: 0px;
}

header.dark blockquote a {
    color: orange;
    text-decoration: underline;
}

// header.light blockquote a {text-decoration: underline;}
header {
    min-height: 20px;
}

//header.dark { background-color: #e1e4e9;}
header.light {
    background-color: #fff;
}


/* Navigation Styles */

nav {
    position: relative;
}

header.dark nav {
    max-height: 63px;
}

header.light nav {
    background-color: rgba(0, 0, 0, 0.5);
}

ul.main-nav {
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    max-width: 1000px;
    // margin: 0 auto;
}

ul.main-nav>li {
    display: inline-block;
    padding: 0;
}

ul.main-nav>li>a {
    display: block;
    padding: 8px 30px;
    position: relative;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    box-sizing: border-box;
}

ul.main-nav>li:hover {
    background-color: #f9f9f9;
}

ul.main-nav>li:hover>a {
    color: #333;
    font-weight: 400;
}

ul.main-nav>li ul.sub-menu-lists {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: block;
}

ul.main-nav>li ul.sub-menu-lists>li {
    padding: 2px 0;
}

ul.main-nav>li ul.sub-menu-lists>li>a {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.ic {
    position: fixed;
    cursor: pointer;
    display: inline-block;
    right: 25px;
    width: 32px;
    height: 24px;
    text-align: center;
    top: 0px;
    outline: none;
}

.ic.close {
    opacity: 0;
    font-size: 0px;
    font-weight: 300;
    color: #fff;
    top: 8px;
    height: 40px;
    display: block;
    outline: none;
}


/* Menu Icons for Devices*/

.ic.menu {
    top: 25px;
    z-index: 20;
}

.ic.menu .line {
    height: 4px;
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

.ic.menu .line-last-child {
    margin-bottom: 0px;
}

.sub-menu-head {
    margin: 10px 0;
}

.banners-area {
    margin-top: 20px;
    padding-top: 15px;
}

.banners-area img {
    width: 150px;
}

@media only screen and (max-width:768px) {
    .sub-menu-head {
        color: orange;
    }
    .ic.menu {
        display: block;
    }
    header.dark .ic.menu .line {
        background-color: #fff;
    }
    header.light .ic.menu .line {
        background-color: #000;
    }
    .ic.menu .line {
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }
    .ic.menu:focus .line {
        background-color: #fff !important;
    }
    .ic.menu:focus .line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .ic.menu:focus .line:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -10px;
    }
    .ic.menu:focus .line:nth-child(3) {
        transform: translateY(15px);
        opacity: 0;
    }
    .ic.menu:focus {
        outline: none;
    }
    .ic.menu:focus~.ic.close {
        opacity: 1;
        z-index: 21;
        outline: none;
    }
    /*
 
  .ic.menu:focus ~ .ic.close { opacity: 1.0; z-index : 21;  }
  .ic.close:focus { opacity: 0; }
  */
    .ic.menu:hover,
    .ic.menu:focus {
        opacity: 1;
    }
    nav {
        background-color: transparent;
    }
    /* Main Menu for Handheld Devices  */
    ul.main-nav {
        z-index: 2;
        padding: 50px 0;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 0px;
        background-color: rgba(0, 0, 0, 1);
        height: 100%;
        overflow: auto;
        /*CSS animation applied : Slide from Right*/
        -webkit-transition-property: background, width;
        -moz-transition-property: background, width;
        -o-transition-property: background, width;
        transition-property: background, width;
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        transition-duration: 0.6s;
    }
    .ic.menu:focus~.main-nav {
        width: 300px;
        background-color: rgba(0, 0, 0, 1);
    }
    ul.main-nav>* {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }
    .ic.menu:focus~.main-nav>* {
        opacity: 1;
    }
    ul.main-nav>li>a:after {
        display: none;
    }
    ul.main-nav>li:first-child {
        border-radius: 0px;
    }
    ul.main-nav>li {
        display: block;
        border-bottom: 1px solid #444;
    }
    ul.main-nav>li>a {
        font-weight: 600;
    }
    ul.main-nav>li ul.sub-menu-lists>li a {
        color: rgb(0, 0, 0);
        font-size: 14px;
    }
    .sub-menu-head {
        font-size: 16px;
    }
    ul.main-nav>li:hover {
        background-color: transparent;
    }
    ul.main-nav>li:hover>a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }
    .ic.menu:focus~ul.main-nav>li>div.sub-menu-block {
        border-left: 0px solid #ccc;
        border-right: 0px solid #ccc;
        border-bottom: 0px solid #ccc;
        position: relative;
        visibility: visible;
        opacity: 1.0;
    }
    .sub-menu-block {
        padding: 0 30px;
    }
    .banners-area {
        padding-bottom: 0px;
    }
    .banners-area div {
        margin-bottom: 15px;
    }
    .banners-area {
        border-top: 1px solid #444;
    }
}

@media only screen and (min-width:769px) {
    .ic.menu {
        display: none;
    }
    /* Main Menu for Desktop Devices  */
    ul.main-nav {
        display: block;
        position: relative;
    }
    .sub-menu-block {
        padding: 15px;
    }
    /* Sub Menu */
    ul.main-nav>li>div.sub-menu-block {
        visibility: hidden;
        background-color: #f9f9f9;
        position: absolute;
        margin-top: 0px;
        width: 100%;
        color: #333;
        left: 0;
        box-sizing: border-box;
        z-index: 3;
        font-size: 16px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        opacity: 0;
        /*CSS animation applied for sub menu : Slide from Top */
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
    }
    ul.main-nav>li>div.show-block {
        display: block !important;
    }
    .dropdown {
        list-style-type: none;
    }
    .show-block {
        width: 1500px !important;
    }
    ul.main-nav>li:hover>div.sub-menu-block {
        background-color: #f9f9f9;
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    ul.main-nav>li>div.sub-menu-block>* {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }
    ul.main-nav>li:hover>div.sub-menu-block>* {
        opacity: 1;
    }
    .sub-menu-head {
        font-size: 20px;
    }
    /* List Separator: Outer Border */
    header.dark ul.main-nav>li>a {
        border-right: 1px solid #bbb;
    }
    header.light ul.main-nav>li>a {
        border-right: 1px solid #666;
    }
    /* List Separator: Inner Border */
    ul.main-nav>li>a:after {
        content: '';
        width: 1px;
        //height: 62px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;
    }
    header.dark ul.main-nav>li>a:after {
        background-color: #777;
    }
    header.light ul.main-nav>li>a:after {
        background-color: #999;
    }
    /* Drop Down/Up Arrow for Mega Menu */
    ul.main-nav>li>a.mega-menu>span {
        display: block;
        vertical-align: middle;
    }
    ul.main-nav>li>a.mega-menu>span:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        content: '';
        background-color: transparent;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }
    ul.main-nav>li:hover>a.mega-menu span:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 5px solid #666;
    }
    .banners-area {
        border-top: 1px solid #ccc;
    }
    .ul.main-nav .sub-menu-block {
        display: block!important;
    }
    .row {
        width: 1000px !important;
    }
    .container-fluid {
        min-height: 134px !important;
        margin-right: -3px;
        padding-right: 0px !important;
        margin-top: -17px !important;
    }
}

a:not([href]):not([class]):hover {
    color: rgb(3, 3, 3);
}

a:not([href]):not([class]) {
    color: #fff;
}

.nav-link {
    font-size: 14px;
}